body {
    background-color: #EEF9BF;
    font-family: 'Roboto';
}

.titulo {    
    font-size: 56px;    
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    color:#75B79E;    
    line-height: 66px;
    letter-spacing: -0.004em;
}

img {
    position: absolute;
    width: 100px;
    height: 90px;
    margin-top: 28px;
    padding-left: 10px;    
}


.virada {
    transform:rotateY(180deg);       
}

.escondido {
    display: none;        
}

.conteudo {
    width: 70%;   
    margin: 0 auto;
}

ul {
    display: flex;      
    margin-bottom: 50px;      
    flex-wrap: wrap;
    justify-content: center;
}

li {
    position: relative;
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px; 
    margin-left: 35px;
    margin-right: 35px; 
    margin-bottom: 35px; 
    transition: transform 1s;      
    transform-style: preserve-3d;
}

@media (max-width: 700px) {
    
    .titulo {
        font-size: 36px;        
        line-height: 42px;       
        text-align: center;  
        margin-bottom: 25px;     
    }

    .conteudo {
        width: auto;    
        margin: 0 auto;
    }

    ul {
        display: flex;  
        flex-direction: column;
        margin-bottom: 0px;       
    }

    li {
        margin: 20px auto;
    }

}

